@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #a3d3db;
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  background: #f0f0f0;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #658b64;
}



.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #a0a0a0;
}

.formGroup input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.formGroup input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: #999;
}

.formGroup.rememberMe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formGroup.rememberMe input[type="checkbox"] {
  width: auto;
  margin-bottom: 5px;
}

.submitButton {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #658b64;
  text-decoration: none;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #547764;
}

.submitButton:focus {
    outline: none;
    border-radius: 30px;
    padding: 1rem;
    transform: scale(.95);
}

.navLink {
  margin-top: 0.5rem;
  color: #9d9d9d;
}

.navLink:hover {
  opacity: 80%;
}

.navLink a {
  color: inherit;
  text-decoration: none;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .signupContent, .loginContent {
    flex-direction: column;
    text-align: center;
  }

  .signupImage, .loginImage {
    margin: 0 0 20px 0;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }

  .formGroup input {
    padding: 0.75rem;
  }

  .submitButton {
    padding: 0.75rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 15px;
  }

  .formGroup input {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .submitButton {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}

.support a:hover {
  transform: scale(1.1);
}
