/* src/components/Navbar.css */
.navbar {
    background-color: #a7895b;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 30px;
  }
  
  .navbar ul li a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .navbar ul li a:hover {
    color: #6b5129;
  }
  

.logout-button {
  font-family: "Bebas Neue", sans-serif;
  background: #6b5129;
  padding: 5px 15px ;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5px;
  border-radius: 30px;
}

.logout-button:hover {
  color: #ccc;
}