@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');

.title-header {
  background-color: #658b64;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  padding: 15px;
  text-align: center;
}

.title-header .logo {
  max-width: 350px;
  height: auto;
}
